/** Main reset ---------- */
html, body { padding: 0; margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

html { font-size: 1em; }

body { font-size: 100%; }

a img, :link img, :visited img { border: 0; }

*, *:before, *:after { box-sizing: border-box; }

/** Centering utilties ------------------ */
.center { left: 0; right: 0; margin-left: auto; margin-right: auto; }

.middle { top: 0; bottom: 0; margin-top: auto; margin-bottom: auto; }

.center-middle { left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

.center-trans { left: 50%; transform: translateX(-50%); }

.middle-trans { top: 50%; transform: translateY(-50%); }

.center-middle-trans { left: 50%; top: 50%; transform: translate(-50%, -50%); }

/** Generic utilties ---------------- */
.alpha-0 { opacity: 0; }

.invisible { visibility: hidden; }

.hide { display: none; }

.offstage { left: -9999px; top: -9999px; }

.anti-alias { font-smooth: always; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.gpu { -webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translateZ(0); }

.line-fix { outline: 1px solid transparent; }

@supports (-moz-appearance: meterbar) { .gpu { transform: translateZ(0) rotate(0.02deg); } }

.transform-reset { transform: none !important; }

/** Main base --------- Generic ad layout file */
body { background: #707070; }

#ad_content { background: #fff; font-family: Helvetica, Arial, sans-serif; overflow: hidden; }

#ad_content div, #ad_content img, #ad_content svg { position: absolute; }

.backup { background: url("backup.jpg") -1px -1px no-repeat; background-size: 728px 90px; }

#ad_content, .backup { border: 1px solid black; cursor: pointer; position: absolute; width: 728px; height: 90px; }

/* ---------------------------------------- */
#txt_3 { top: 30px; left: 579px; }

#logo { top: 62px; left: 654px; }

#kid { top: 3px; left: 98px; }

#monster { top: 6px; left: 592px; }

#animation { background: url("anim.png"); width: 728px; height: 90px; top: 0px; right: 0px; }

#txtbit_1 { top: 25px; left: 155px; }

#txtbit_2 { top: 25px; left: 183px; }

#txtbit_3 { top: 25px; left: 249px; }

#txtbit_4 { top: 31px; left: 284px; }

#txtbit_5 { top: 25px; left: 329px; }

#txtbit_6 { top: 25px; left: 371px; }

#txtbit_7 { top: 25px; left: 397px; }

#txtbit_8 { top: 25px; left: 462px; }

#txtbit_9 { top: 29px; left: 498px; }

#coin_1 { top: 31px; left: 685px; }

#coin_2 { top: 16px; left: 710px; }

.sprite-jpg { background-image: url('sprite.jpg') }
.sprite-jpg.bg {
  width: 728px;
  height: 90px;
  background-position: 0px 0px;
  background-size: 729px 93px; }
.sprite-png { background-image: url('sprite.png') }
.sprite-png.coin {
  width: 16px;
  height: 16px;
  background-position: -141px -48px;
  background-size: 162px 162px; }
.sprite-png.kid {
  width: 41px;
  height: 67px;
  background-position: 0px -69px;
  background-size: 162px 162px; }
.sprite-png.logo {
  width: 62px;
  height: 18px;
  background-position: -75px -75px;
  background-size: 162px 162px; }
.sprite-png.monster {
  width: 70px;
  height: 65px;
  background-position: 0px 0px;
  background-size: 162px 162px; }
.sprite-png.txtbit_1 {
  width: 22px;
  height: 19px;
  background-position: -45px -69px;
  background-size: 162px 162px; }
.sprite-png.txtbit_2 {
  width: 60px;
  height: 22px;
  background-position: -75px -21px;
  background-size: 162px 162px; }
.sprite-png.txtbit_3 {
  width: 29px;
  height: 19px;
  background-position: 0px -141px;
  background-size: 162px 162px; }
.sprite-png.txtbit_4 {
  width: 40px;
  height: 13px;
  background-position: -75px -123px;
  background-size: 162px 162px; }
.sprite-png.txtbit_5 {
  width: 35px;
  height: 19px;
  background-position: -75px -99px;
  background-size: 162px 162px; }
.sprite-png.txtbit_6 {
  width: 20px;
  height: 19px;
  background-position: -141px -21px;
  background-size: 162px 162px; }
.sprite-png.txtbit_7 {
  width: 60px;
  height: 22px;
  background-position: -75px -48px;
  background-size: 162px 162px; }
.sprite-png.txtbit_8 {
  width: 30px;
  height: 19px;
  background-position: -114px -99px;
  background-size: 162px 162px; }
.sprite-png.txtbit_9 {
  width: 85px;
  height: 15px;
  background-position: -75px 0px;
  background-size: 162px 162px; }