/** Main reset ---------- */
html, body { padding: 0; margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

html { font-size: 1em; }

body { font-size: 100%; }

a img, :link img, :visited img { border: 0; }

*, *:before, *:after { box-sizing: border-box; }

/** Centering utilties ------------------ */
.center { left: 0; right: 0; margin-left: auto; margin-right: auto; }

.middle { top: 0; bottom: 0; margin-top: auto; margin-bottom: auto; }

.center-middle { left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

.center-trans { left: 50%; transform: translateX(-50%); }

.middle-trans { top: 50%; transform: translateY(-50%); }

.center-middle-trans { left: 50%; top: 50%; transform: translate(-50%, -50%); }

/** Generic utilties ---------------- */
.alpha-0 { opacity: 0; }

.invisible { visibility: hidden; }

.hide { display: none; }

.offstage { left: -9999px; top: -9999px; }

.anti-alias { font-smooth: always; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.gpu { -webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translateZ(0); }

.line-fix { outline: 1px solid transparent; }

@supports (-moz-appearance: meterbar) { .gpu { transform: translateZ(0) rotate(0.02deg); } }

.transform-reset { transform: none !important; }

/** Main base --------- Generic ad layout file */
body { background: #707070; }

#ad_content { background: #fff; font-family: Helvetica, Arial, sans-serif; overflow: hidden; }

#ad_content div, #ad_content img, #ad_content svg { position: absolute; }

.backup { background: url("backup.jpg") -1px -1px no-repeat; background-size: 160px 600px; }

#ad_content, .backup { border: 1px solid black; cursor: pointer; position: absolute; width: 160px; height: 600px; }

/* ---------------------------------------- */
#txt_3 { top: 521px; left: 50px; }

#logo { top: 569px; left: 71px; }

#kid { top: 46px; left: 100px; }

#monster { top: 362px; left: 19px; }

#animation { background: url("anim.png"); width: 160px; height: 600px; top: 0; right: 0; }

#txtbit_1 { top: 184px; left: 23px; }

#txtbit_2 { top: 184px; left: 58px; }

#txtbit_3 { top: 217px; left: 30px; }

#txtbit_4 { top: 224px; left: 75px; }

#txtbit_5 { top: 250px; left: 38px; }

#txtbit_6 { top: 250px; left: 90px; }

#txtbit_7 { top: 283px; left: 18px; }

#txtbit_8 { top: 282px; left: 100px; }

#txtbit_9 { top: 321px; left: 25px; }

#coin_1 { top: 495px; left: 30px; }

#coin_2 { top: 481px; left: 56px; }

#coin_3 { top: 481px; left: 87px; }

#coin_4 { top: 495px; left: 115px; }

.sprite-jpg { background-image: url('sprite.jpg') }
.sprite-jpg.bg {
  width: 160px;
  height: 653px;
  background-position: 0px 0px;
  background-size: 162px 654px; }
.sprite-png { background-image: url('sprite.png') }
.sprite-png.coin {
  width: 16px;
  height: 16px;
  background-position: -153px -102px;
  background-size: 261px 138px; }
.sprite-png.kid {
  width: 41px;
  height: 67px;
  background-position: 0px -69px;
  background-size: 261px 138px; }
.sprite-png.logo {
  width: 74px;
  height: 22px;
  background-position: -153px -21px;
  background-size: 261px 138px; }
.sprite-png.monster {
  width: 70px;
  height: 65px;
  background-position: 0px 0px;
  background-size: 261px 138px; }
.sprite-png.txtbit_1 {
  width: 28px;
  height: 23px;
  background-position: -231px -21px;
  background-size: 261px 138px; }
.sprite-png.txtbit_2 {
  width: 74px;
  height: 28px;
  background-position: -75px 0px;
  background-size: 261px 138px; }
.sprite-png.txtbit_3 {
  width: 36px;
  height: 23px;
  background-position: -153px -75px;
  background-size: 261px 138px; }
.sprite-png.txtbit_4 {
  width: 50px;
  height: 16px;
  background-position: -201px -48px;
  background-size: 261px 138px; }
.sprite-png.txtbit_5 {
  width: 43px;
  height: 23px;
  background-position: -153px -48px;
  background-size: 261px 138px; }
.sprite-png.txtbit_6 {
  width: 25px;
  height: 23px;
  background-position: -231px -75px;
  background-size: 261px 138px; }
.sprite-png.txtbit_7 {
  width: 74px;
  height: 28px;
  background-position: -75px -33px;
  background-size: 261px 138px; }
.sprite-png.txtbit_8 {
  width: 35px;
  height: 23px;
  background-position: -192px -75px;
  background-size: 261px 138px; }
.sprite-png.txtbit_9 {
  width: 106px;
  height: 17px;
  background-position: -153px 0px;
  background-size: 261px 138px; }